<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1><%= restaurant.name %></h1>
  <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">  
    <input name="name" type="text" required="required">
    <button type="submit">Edit Complete</button>
  </form>
  
  <%- include('../partials/footer') %>