<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>

      <% restaurants.forEach(restaurant => { %>
        <div class="card" style="width: 18rem;">
          <img src="./assets/images/restaurant.png" class="card-img-top" alt="Placeholder photo">
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %></h5>
            <p class="card-text">Read reviews by clicking below</p>
            <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">About</a>
          </div>
        </div>
      <% }) %>

    </main>

<%- include('../partials/footer') %>
