<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1><%= restaurant.name %></h1>
  <a href="/restaurants/<%= restaurant._id %>/edit">
    <button>Edit Restaurant Info</button>
  </a>
  <h3><%= restaurant.name %> has <%= restaurant.thumbsUp ? 'a thumbs up!' : 'a thumbs down'%></h3>
  <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  
  <%- include('../partials/footer') %>
