<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1><%= restaurant.name %></h1>
  <a href="/restaurants/<%= restaurant._id %>/edit">
    <button>Edit Restaurant Info</button>
  </a>
  <% if (user) { %>
    <form 
      id="add-review-form"
      action="/restaurants/<%= restaurant._id %>/reviews"
      method="POST"
    >
    <label for="content-textarea">New Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="thumbsUp-checkbox">Thumbs Up?</label>
    <input name="thumbsUp" type="checkbox" id="thumbsUp-checkbox">
    <button type="submit">Add Review</button>
  </form>
  <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
    <button>Delete Restaurant</button>
  </form>
<% } %>
<% if (restaurant.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Recommend?</th>
      </tr>
    </thead>
    <tbody>
      <% restaurant.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <% review.thumbsUp = !!review.thumbsUp %> 
          <td><%= review.thumbsUp ? 'ðŸ‘' : 'ðŸ‘Ž'%></td>
          <td>
            <% if (review.author === userProfileId) { %>
              <form action="/restaurants/<%= restaurant._id %>/edit" method="GET">
                <button class="btn" type="submit">Edit this review</button>
              </form>
              <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit">Delete this review</button>
              </form>
            <% } %>
          </td>
        </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <h3>No Reviews Yet</h3>
      <% } %>
        <%- include('../partials/footer') %>
        
        
